* {
    margin: 0;
    padding: 0;
    border: 0;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

.main {
    margin: 10vh auto;
}

.main .card {
    width: 60vh;
    height: auto;
    background-color: #F2F5F7;
    border: none;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.main .card .title {
    border-top: 3vh solid transparent;
    border-bottom: 3vh solid transparent;
    font-size: 5vh;
}

.main .card .add {
    width: 80%;
    height: 7vh;
    display: flex;
    font-size: 3vh;

}

.main .card .add .input {
    text-indent: 10%;
    width: 70%;
    height: 100%;
    border: 1px solid grey;
    border-radius: 10px 0 0 10px;
    background-color: #D2DEE7;
    outline: none;
}

.main .card .add .addNew {
    width: 30%;
    background-color: #3E5F7D;
    border: 1px solid grey;
    border-radius: 0 10px 10px 0;
}

.main .card .content {
    padding-left: 10%;
    width: 100%;
    height: auto;
    display: flex;
    padding: 10%;
    font-size: 3vh;
    align-items: top;
    flex-direction: column;
}

.main .card .content li {
    display: flex;
    width: 100%;
}

.main .card .content li .idx {
    width: 10%;
}

.main .card .content li .todo {
    width: 80%;
}

.main .card .content li .remove {
    width: 10%;
    display: none;
    background-color: transparent;
}

.main .card .footer {
    display: flex;
    width: 100%;
    height: 8vh;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
}

.main .card .footer .count {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.main .card .footer .remove {
    background-color: transparent;
    width: 20%;
    justify-content: left;
    height: 100%;
    border-radius: 5px;
}

.main .card .content li:hover .remove {
    display: block;
}

.main .card .content li:hover {
    background-color: #A3A3A3;
    color: azure;
}

.main .card .footer .remove:hover {
    color: azure;
    background-color: #A3A3A3;
}



/* 列表 */
.main th,
.main td {
    width: 20vh;
    border: 1px solid #3E5F7D;
}

table {
    margin: 0 auto;
    margin-top: 20vh;
}

.main input {
    width: 20vh;
}